{% extends "layout.html" %}

{% block title %}
    {{ book.title }}
{% endblock %}

{% block body %}
  <h1>Book Details</h1>

  <ul>
      <li>ISBN: {{ book.isbn }}</li>
      <li>Title: {{ book.title }}</li>
      <li>Author: {{ book.author }}</li>
      <li>Year: {{ book.year }}</li>
  </ul>
  <br><br>
  <h2>Review the book</h2>
  <form action="{{ url_for('review_submit', book_isbn=book.isbn) }}" method="post">
  <div class="form-group">
    <label for="exampleFormControlSelect1">Rating:</label>
    <select class="form-control" id="exampleFormControlSelect1" name="rating" required>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Review</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="review_text" required="required"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br>
<h2>Reviews</h2>
<div><b>Total ratings:</b> {{ num_rating }} &nbsp&nbsp&nbsp <b>Average rating:</b> {{ avg_rating }}</div>
{% for review in reviews %}
    <hr>
    <div><b>User:</b> {{ review.username }} &nbsp&nbsp&nbsp <b>Rating:</b> {{ review.rating }}</div>
    <br>
    <div><b>Review:</b></div>
    <div>{{ review.review }}</div>
{% endfor %}
{% endblock %}
