{% extends "layout.html" %}

{% block title %}
    Success!
{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" method="post" action="{{ url_for('home') }}">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
    <h1>Successfully logged as <b>{{ user }}</b>.</h1>
    <h3>Now you can search for books!</h3>
    <div class="alert alert-danger" role="alert" style="display: {{ display_error }}">
      {{ error }}
    </div>

    <table style="display: {{ display_table }}">
      <tr>
        <th>ISBN</th>
        <th>Title</th>
        <th>Author</th>
        <th>Year</th>
      </tr>
      {% for book in books %}
      <tr>
          <td><a href="{{ url_for('book', book_isbn=book.isbn) }}" data-toggle="tooltip" data-placement="bottom" title="Review this book!">{{ book.isbn }}</a></td>
          <td><a href="{{ url_for('book', book_isbn=book.isbn) }}" data-toggle="tooltip" data-placement="bottom" title="Review this book!">{{ book.title }}</a></td>
          <td>{{ book.author }}</td>
          <td>{{ book.year }}</td>
      </tr>
      {% endfor %}
    </table>

{% endblock %}
